body {
    margin: 0;

    background-color: #c9c9c9;
}

/*Menu Bar*/

/*Character Info*/
.Info {
    width: 100%;
    display: flex;

    justify-content: space-around;
}

.Info>span {
    display:inline-block;
}

.Info>span>label{
    min-width: 200px;
    display: inline-block;

    padding: 0px 5px 0px 5px;

    background-color:hsla(0, 0%, 100%, 0.5);
}

/*Abiltiy Score*/
.AbilityBar {
    width: 100%;
    display: flex;

    justify-content: center;
}

.Ability {
    width: 16%;

    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.abilityScore>input[type=number] {
    width:100%;

    text-align: center;
}

/*Skill Score*/
.SkillAbility {
    display: block;
    
    font-size: large;
    font-weight: bold;
}

.SkillScore {
    display: block;
}